.action-button {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

/* Media query for small screens (320px) */
@media (max-width: 425px) {
  .button-text {
    display: none; /* Hide the text on small screens */
  }

  .icon {
    margin-right: 0; /* Adjust icon margin */
  }
  .submit{
    width: 100%;
}
.th{
    display: flex;
    align-items: center;
    justify-content: center;
}
}
.th{

display:  flex;
justify-content: center;
width: 100%;
gap: 10px;
}